.enlaceActivo:before{
    content: "";
    width: 200px;
    position: absolute;
    background: #cccccc30;
    opacity: .8;
    height: 100%;
    top: 0;
    z-index: 3;
    animation: entrada .3s ease forwards;
}

@keyframes entrada {
    from{
        left: -200px;
    }
    to{
        left: 0;
    }
}