/* Estilos básicos de notificación */
.notificaciones {
  position: fixed;
  bottom: 0rem;
  right: .5rem;
  z-index: 1000;
}

.notificacion {
  animation: fadeIn 0.4s ease-in forwards;
}

.notificacion button {
  border: none;
  cursor: pointer;
}

@media screen and (max-width:548px){
  .notificaciones{
    bottom:0px !important;
    right:0px !important;
    padding: 0 .5rem !important;
  }
  .notificacion{
    padding: 1rem .5rem;
  }
}

/* Animaciones de entrada y salida */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
